.welcomeSection {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  background-color: #a63131;

  font-size: clamp(5rem, 20vw, 17rem);
  font-weight: bold;
  color: #fff;

  overflow: hidden;
}

.welcomeContact {
  display: flex;
  align-items: center;

  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: bold;
  color: #000;

  overflow: hidden;
}


.welcomeSection h1 {
  white-space: nowrap;
}

.welcomeContact h1 {
  white-space: nowrap;
}


.dash {
  display: block;
  height: 0.15em;
  width: 0; /* começa colado */
  background-color: #fff;

  transition: width 0.05s linear;
}


.dashContact {
  display: block;
  height: 0.15em;
  width: 0; /* começa colado */
  background-color: #000;

  transition: width 0.05s linear;
}

