.mainContact{
    display: flex;
    flex-direction: column;
    gap: 50px;
}



.apresentention{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    gap: 40px;
    justify-content: space-between;
    font-weight: 500;

    & .conteudo {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 40%;


        & .texto {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;


            & h1{
                font-size: clamp(3rem, 10vw, 5rem);
            }

            & h2{
                font-size: clamp(2rem, 5vw, 3rem);
            }
        }


    }


    & .globo{
        width: min(460px, 90vw);  
        aspect-ratio: 1 / 1; 

        border: 1px solid black;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;

        & .hand{
            width: 74%;
            height: 74%;
            object-fit: contain;
            position: absolute;
            left: 16%;      
            bottom: 50%;
            transform: translateY(110%);
        }
    }
}


.fiap{
  position: relative;
  width: 100vw;

  min-height: 40svh;
  height: clamp(90svh, 130svh, 160svh);

  overflow: hidden;
  background: #000;

    & logoFiap{
        object-fit: cover; 
        object-position: center;
        z-index: 1;
    }
}


.graduated {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10px 40px;

    & .contente {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        font-size: clamp(1rem, 2vw, 1.5rem);
        font-weight: 400;
        width: min(1000px, 90vw);  
    }
}

@media (max-width: 1050px) {
    .apresentention .conteudo {
        width: 100%;
    }

    .fiap {
        height: 40svh;
    }

    .fiap .logoFiap {
        object-fit: contain;
    }
    
}