.apresentention{
    display: flex;
    padding: 5%;
    justify-content: space-between;

    & .conteudo {
        display: flex;
        flex-direction: column;
        gap: 20px;


        & .texto {
            display: flex;
        }


    }
}