@import "tailwindcss";
@import "tw-animate-css";



/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Firefox */
html {
  scrollbar-width: none;
}

html,
body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

