.localization {
  position: relative;
  min-height: 100vh;
  background: #000;
  overflow: hidden;
  color: white;
}


.particlesBg {
  position: absolute;
  inset: 0; 
  z-index: 1;

  pointer-events: auto;
}


.content {
  position: relative;
  z-index: 2;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  padding: 0 80px;
  min-height: 100vh;

  pointer-events: none;
}

.text {
  max-width: 480px;
}

.badge {
  display: inline-block;
  padding: 6px 14px;
  border: 1px solid #666;
  border-radius: 999px;
  font-size: 0.75rem;
  margin-bottom: 20px;
}

.text h1 {
  font-size: clamp(2.5rem, 4vw, 4rem);
  margin-bottom: 16px;
}

.text p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #cfcfcf;
}

.developer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 60vh;
  text-align: center;
  text-align: left;



  & h1 {
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 500;
    width: 400px;
  }

  & p {
    font-size: clamp(1rem, 1.3vw, 2rem);
    width: 400px;
  }
}


.logoLoopWrapper {
  height: 200px;
}


.logoLoopWrapper svg {
  width: clamp(32px, 6vw, 60px);
  height: clamp(32px, 6vw, 60px);
}

.projetos{
  display: flex;
  flex-direction: column;
  gap: 150px;
  padding-bottom: 200px;

  & .projetoLevi{
    display: flex;
    justify-content: space-between;
    padding: 0% 10%;


    & .detalheProjeto{
      display: flex;
      flex-direction: column;
      gap: 40px;


      & h2{
        font-size: clamp(1rem, 1.5vw, 2rem);
        font-weight: 500;
      }

      & h1{
        font-size: clamp(1rem, 2vw, 2rem);
        padding-left: 20px;
        font-weight: bold;
      }

      & p{
        padding-left: 20px;
        font-size: clamp(0.9rem, 1.2vw, 1.5rem);
        width: 50%;
      }

      & h3{
        font-size: clamp(0.9rem, 2vw, 1.5rem);
        font-weight: 500;
        color: #4F4D52;
      }

    }

  }
}



.more {
  display: block;
  width: fit-content;
  align-self: center;
  padding: 6px 14px;
  border: 1px solid #666;
  border-radius: 999px;
  font-size: clamp(0.75rem, 1.5vw, 1.5rem);
  margin-bottom: 20px;
}


.some {
  font-size: clamp(1.5rem, 2vw, 3rem);
  font-weight: 500;
  padding-left: 100px;
}




@media (max-width: 1200px) {

  .projetos{
    justify-content: center;
    align-items: center;


    &  .projetoLevi{
      display: flex;
      flex-direction: column;

    }
  }


}